name: 'antiforgery'
nugetSpecFolder: 'packaging/nuget'
sourceFolder: 'src'
nuspecSettings:
  fixed: 'Current,NextMajor'
  float: 'Current'

feed 'http://nuget.org/api/v2', mode: 'Fixed', stability: 'Anything'
feed 'http://packages.nuget.org/v1/FeedService.svc', mode: 'Fixed', stability: 'ReleasedOnly'
feed 'http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc', mode: 'Float', stability: 'ReleasedOnly'

nuget 'Bottles', version: '2.0.0.576', mode: 'Float'
nuget 'FubuCore', version: '1.2.0.272', mode: 'Float'
nuget 'FubuLocalization', version: '1.0.0.174', mode: 'Float'
nuget 'FubuMVC.Core', version: '1.2.0.1678', mode: 'Float'
nuget 'FubuMVC.StructureMap', version: '1.2.0.1678', mode: 'Float'
nuget 'FubuTestingSupport', version: '1.2.0.272', mode: 'Float'
nuget 'HtmlTags', version: '2.0.0.181', mode: 'Float'
nuget 'NUnit', version: '2.5.10.11092', mode: 'Fixed'
nuget 'RhinoMocks', version: '3.6.1', mode: 'Fixed'
nuget 'structuremap', version: '2.6.3', mode: 'Fixed'
nuget 'structuremap.automocking', version: '2.6.3', mode: 'Fixed'
