%ASSEMBLY_NAME%=antiforgery
%SHORT_NAME%=antiforgery
%RAKE_TASK_PREFIX%=antiforgery
%FUBU_REGISTRY%=antiforgeryFubuRegistry
%APPLICATION_SOURCE%=antiforgeryApplication
%STRUCTUREMAP_REGISTRY%=antiforgeryRegistry
%PROJECT_PATH%=src/antiforgery/antiforgery.csproj
%PROJECT_FOLDER%=src/antiforgery
